<div class="row">

    <div class="span12">
        <h1> Shopping Cart</h1><br />


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Eliminar</th>
                    <th>Actualizar</th>
                    <th>Nombre Producto</th>                                
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Importe</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="miProducto in misProductos">
                    <td class="">
                        <button class="btn btn-danger" ng-click="borrar(miProducto, $index)">Eliminar</button>
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="update(miProducto)">Actualizar</button>
                    </td>
                    <td>{{miProducto.nombre}}</td>
                    <td>{{miProducto.cantidad}}</td>
                    <td>$ {{miProducto.precio}}</td> <!--Importe-->
                    <td>$ {{miProducto.importe}}</td> <!--Importe-->
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    
                    <td><strong>$ {{total}}</strong></td>
                </tr>         
            </tbody>
        </table>

        <form class="form-horizontal">
            <fieldset>	  

                <div class="row">
                    <div class="span2">
                        <button class="btn btn-primary" type="submit" ng-click = "borrar()">Borrar</button>
                    </div>  
                    <hr>                                              
                </div>


            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            <h3>$ {{total * 1.16}}</h3>
                        </a>
                       </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="control-group">
                                
                                <h3> 
                                SubTotal: $ {{total}} <br>

                                IVA: $ {{total * 0.16}} <br>
                                
                                Total: $ {{total * 1.16}} <br>
                               </h3>

                            </div>
                                                                               
                            </div>                                        
                    </div>
                </div>

            </div>


                <div class="accordion" id="accordion3">
                    <div class="accordion-group">
                        <div class="accordion-heading">

                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse2">
                                <h3>Alta de Productos</h3>
                            </a>
                        </div>
                        <div id="collapse2" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                
                                <div class="control-group">
                                    
                                    Producto <input type="text" ng-model="newProducto.nombre">

                                    Precio <input type="number" ng-model="newProducto.precio">
                                    
                                    Cantidad <input type="number" ng-model="newProducto.cantidad">
                                    
                                </div>   
                                <button ng-click="agregar()" class="btn btn-primary"> Guardar </button>
                            </div>
                        
                        </div>
                    </div>

                    
                </div>

            </fieldset>
        </form>
    </div>
</div>